
#include <gtest/gtest.h>

#include <limits>
#include <jsxx/val.hpp>
#include <jsxx/val/literal_key.hpp>


using namespace jsxx;

typedef val::k k;


{{#groups}}
{{#test}}

TEST({{group}}, {{name}})
{
    {{#data}}
    {
        val v = {{{val}}};

        {{#exp}}
        {{kind}}(v, {{{v}}});
        {{^noswitch}}{{kind}}({{{v}}}, v); {{/noswitch}}
        {{/exp}}

        {{^exp}}
        {{kind}}(v, {{{val}}});
        {{^noswitch}}{{kind}}({{{val}}}, v); {{/noswitch}}
        {{/exp}}
    }
    {{/data}}
}

{{/test}}
{{/groups}}
