
#include <gtest/gtest.h>

#include <jsxx/basic_val.hpp>
#include <jsxx/traits/simple.hpp>
#include <jsxx/print.hpp>
#include <jsxx/literal_key.hpp>


using namespace jsxx;

typedef basic_val<tag::simple> val;
typedef val::k k;


{{#groups}}
{{#test}}

TEST({{group}}, {{name}})
{
    {{#data}}
    {
        val v = {{{val}}};

        {{#exp}}
        {{kind}}(v, {{{v}}});
        {{^noswitch}}{{kind}}({{{v}}}, v); {{/noswitch}}
        {{/exp}}

        {{^exp}}
        {{kind}}(v, {{{val}}});
        {{^noswitch}}{{kind}}({{{val}}}, v); {{/noswitch}}
        {{/exp}}
    }
    {{/data}}
}

{{/test}}
{{/groups}}
